	/*  1) "#tcChat_" is prepended for Client Body skin,
    2) "#" is prepended for Persistent skin
    CSS - Last Update 03/07/2019
    ---------------------------------------------------------*/

/* START GLOBAL STYLING
------------------------*/
body {
  margin: 0;
}

#tcChat_Skin.tcChat,
iframe#inqChatStage  {
  border-radius: 0px;
  border: 1px solid #D9D9D9 !important;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
}

#tcChat_Skin input:focus {
  outline: 2px solid #D9D9D9 !important; 
}

#tcChat_background,
#background {
  background-color: rgba(255,255,255,1);
}

#tcChat_chatWindow,
#chatWindow {
  background-color: transparent !important;
}

.tcChat *,
#tcChat * {
  box-sizing: initial;
  -webkit-box-sizing: initial;
  border: 0px solid transparent !important;
}
/* END GLOBAL STYLING
------------------------*/

/* START TITLE BAR STYLING
---------------------------*/
#tcChat_titleBar,
#titleBar {
  background-color: #BB0826;  
}

#tcChat_titleHeader,
#titleHeader { 
  font-family: Georgia,Times,serif;
  font-size: 20px; 
  color: #ffffff;
  position: static !important;
  display: block !important;
  margin: 15px auto!important;
}  

#tcChat_btnMinimize,
#btnMinimize,
#tcChat_btnCloseChat,
#btnCloseChat { 
}

#tcChat_btnMinimize:hover,
#btnMinimize:hover,
#tcChat_btnCloseChat:hover,
#btnCloseChat:hover { 
}

#tcChat_btnMinimize:active,
#btnMinimize:active,
#tcChat_btnCloseChat:active,
#btnCloseChat:active { 
}

#tcChat_btnMinimize_img:focus,
#btnMinimize_img:focus,
#tcChat_btnCloseChat_img:focus,
#btnCloseChat_img:focus {
 outline: 1px dotted #5E9ED6;
 outline: 5px auto -webkit-focus-ring-color;
 outline-offset: 0px !important;
}
/* END TITLE BAR STYLING
---------------------------*/

/* START CHAT WINDOW STYLING
---------------------------*/
#tcChat_chatWindow {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

#tc_chat_boxchatWindow {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

.tcChat .agentId,
span.agentId {
  color:    #BB0826;
  font-family: Verdana, "sans-serif";
  font-size: small; 
  line-height: 1.34em; 
  position: absolute;
  top: -22px;
  left: 0px; 
  width: 242px;
}

.tcChat .agentMsg,
span.agentMsg {
  color:    #44464A;
  font-family: Verdana, "sans-serif";
  font-size: small;
  font-weight: normal;
  word-wrap: break-word;
  line-height: 1.34em;
}

.tcChat .customerId,
span.customerId {
  color:    #BB0826;
  font-family: Verdana, "sans-serif";
  font-size: small; 
  line-height: 1.34em; 
  position: absolute;
  top: -22px;
  left: 0px;
  width: 40px;
}

.tcChat .customerMsg,
span.customerMsg {
  color:    #44464A;
  font-family: Verdana, "sans-serif";
  font-size: small;
  font-weight: normal;
  word-wrap: break-word;
  line-height: 1.34em;
}

.tcChat .systemMsg,
span.systemMsg {
  color:    #767676;
  font-family: Verdana, "sans-serif";
  font-size: small;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  display: block;
  position: relative; 
  padding: 5px;
  margin: -15px 15px 0px 20px !important
}

.tcChat .systemStatMsg,
span.systemStatMsg {  
  background:no-repeat top left #F3F3F3; 
  padding: 16px 10px;
  position: relative; 
  top: -22px;
  left: 20px;
  display: block; 
  border: 1px solid #f3f3f3 !important;
  border-radius: 5px;  
  color:  #44464A;
  font-family: Verdana, "sans-serif";
  font-size: small; 
  font-weight: normal;
  text-align:left;
  margin-right: 40px !important;
  margin-left: 0px !important;
  word-break: break-word;
  max-width: 242px;
} 

#tcChat_chatWindow_span table, #chatWindow_span {
    width: 100%;
    margin: 5px auto 0px auto; 
}

#tcChat_chatWindow_span tr, #chatWindow_span tr {
    display: flex !important;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    -moz-display: flex !important;
    -moz-flex-flow: column wrap;
    -moz-justify-content: flex-start;
    -moz-align-items: flex-start;    
}

#tcChat_chatWindow_span tr:last-child, #chatWindow_span tr:last-child {  
    margin-bottom: 15px !important;
}

#tcChat_chatWindow_span td, #chatWindow_span td {
    margin-top: 22px !important;
    margin-bottom: 10px !important;
    text-align: left;
}

/* Variant : Agent Chat Bubble
------------------------------------------ */
/* creates the chat bubble */
td.tcChat_agentLine {
  background: none repeat scroll 0 0 #F3F3F3; 
  padding: 16px 10px;
  position: relative;
  left: 20px;
  display: block; 
  border: 1px solid #f3f3f3 !important;
  border-radius: 5px;
  text-align:left;
  margin-right: 40px !important;
  margin-left: 0px !important;
  word-break: break-word;
  max-width: 242px;
} 

/* Variant : Customer Chat Bubble
------------------------------------------ */
/* creates the chat bubble */
td.tcChat_customerLine {
  background: none repeat scroll 0 0 #ffffff;
  padding: 16px 10px;
  position: relative;
  left: 20px;
  display: block;
  border: 1px solid #CFD1D7 !important;
  border-radius: 5px;
  text-align:left;
  margin-right: 40px !important;
  margin-left: 0px !important;
  box-sizing: border-box;
  word-break: break-word;
  max-width: 242px;
} 

/* Variant : VA Chat Form Styling
------------------------------------------ */

/* Zero out VA unordered lists */

td.tcChat_agentLine ul { 
} 

td.tcChat_agentLine a { 
}
td.tcChat_agentLine a:hover { 
}

/* The below targets the IE media query only
----------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  td.tcChat_customerLine {
    max-width: 242px;
  }

  td.tcChat_agentLine {
    max-width: 242px;
  }

}

#tcChat_ClickPersistent table,
#ClickPersistent table {
  background-color: #BB0826 !important;
  cursor: pointer;
  font-family: Verdana, "sans-serif"; 
  font-size: small;
  font-weight: 600;
  color: #ffffff;
  text-align: center !important;
}
/* END CHAT WINDOW STYLING
---------------------------*/


/* START CHATFOOTER STYLING
---------------------------*/
#tcChat_chatFooter,
#chatFooter {
  background-color: #ffffff; 
}

#tcChat_txtInput_bg,
#txtInput_bg {
    border: 1px solid #CFD1D7 !important;
    border-radius: 2px;
}

#tcChat_txtInput_input,
#txtInput_input {
 box-sizing: initial;
 -webkit-box-sizing: initial;
 border: none;
 overflow: hidden;
 resize: none;
 background-color: transparent;
  font-family: Verdana, "sans-serif";
 font-size: 13px;
 color: #44464A;
 padding: 11px;
 width: 88.5% !important;
 height: 19px !important;
}

#tcChat_txtInput_input:focus,
#txtInput_input:focus {
 outline: 1px dotted #212121;
 outline: 5px auto -webkit-focus-ring-color;
}

#tcChat_btnSend,
#btnSend {
    background-color: #E86666;
    border-radius:  2px;
    color: #fff;
    cursor: pointer;
    border: 0px solid transparent;
    transition: background-color ease .3s;
}

#tcChat_btnSend_span, #btnSend_span {
    font-family: Verdana, "sans-serif"; 
    font-size: 13px;
    text-align: center; 
    color: #ffffff;
    display: block;
    margin: 15px auto;
}

#tcChat_btnSend:hover,
#btnSend:hover {
    background-color: #bb0826; 
}

#tcChat_btnSend:active,
#btnSend:active {
  background-color: #bb0826; 
}

/*------toolBar Styling------*/
#tcChat_toolBar,
#toolBar  {
      border-top: 1px solid #D9D9D9 !important;
     background: #f3f3f3;
}

#tcChat_toolBarWrap,
#toolBar Wrap { 
    position: relative !important;
    margin: 0 auto;
}

#tcChat_btnEmail,
#tcChat_btnFontSize,
#tcChat_btnPrint,
#tcChat_btnChime,
#btnEmail,
#btnFontSize,
#btnPrint,
#btnChime {
}

#tcChat_btnEmail:hover,
#tcChat_btnFontSize:hover,
#tcChat_btnPrint:hover,
#tcChat_btnChime:hover,
#btnEmail:hover,
#btnFontSize:hover,
#btnPrint:hover,
#btnChime:hover {
}

#tcChat_btnEmail:active,
#tcChat_btnFontSize:active,
#tcChat_btnPrint:active,
#tcChat_btnChime:active,
#btnEmail:active,
#btnFontSize:active,
#btnPrint:active,
#btnChime:active {
}
/* toolBar Styling END */

#inqDivResizeCorner,
.inqDivResizeCorner {
  outline: none !important;
}
/* END CHATFOOTER STYLING
---------------------------*/

/* START MINIMIZED STATE STYLING
---------------------------------*/
#tcChat_Minimized {
  transition: all ease 3s;
  background-color: #AE1E23; 
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,.15);
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 0;
  width: 56px;
  height: 56px;
} 

#tcChat_Minimized:hover { 
}

#tcChat_Minimized:focus { 
}

#tcChat_Minimized:active { 
}

#tcChat_agentMsgCounter {
  font-family: Verdana, "sans-serif"; 
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  pointer-events: none;
  background: #AE1E23;   
  width: 23px;
  height: 11px; 
}

#tcChat_btnRestore_img,
#btnRestore_img {
  outline: none !important;
}

#tcChat_agentText,
#agentText { 
    display: block;
    height: 15px;
    width: 280px;
    color: #44464A;
    font-family: Verdana, "sans-serif";
    font-size: 12px;       
    padding: 16px 10px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 5px;  
}

/* creates the background tail on middle-right side*/
#tcChat_agentText::before,
#agentText::before {
  display:block;
  width:0;
  content:"";
  position:absolute;
  top: 40%; /* controls vertical position */ 
  bottom: auto;
  right:-7px; /* controls horizontal position */
  border-style:solid;
  border-width: 7px 0 7px 7px;
  border-color:transparent #d9d9d9;
}

/* creates the foreground tail on middle-right side*/
#tcChat_agentText::after,
#agentText::after {
  display:block;
  width:0;
  content:"";
  position:absolute;
  top: 40%; /* controls vertical position */ 
  bottom: auto;
  right:-6px; /* controls horizontal position */
  border-style:solid;
  border-width: 7px 0 7px 7px;
  border-color:transparent #ffffff;
}
 
/* END MINIMIZE STATE STYLING
-------------------------------*/

/* START THANK YOU MESSAGE STYLING
-----------------------------------*/
#tcChat_thankYou,
#thankYou {
  background-color: transparent !important;
}

#tcChat_btnThankYou_span,
#btnThankYou_span {
  font-family: Verdana, "sans-serif"; 
  font-size: 18px;
  color: #44464A;
}
/* END THANK YOU MESSAGE STYLING
---------------------------------*/

table {
	background-color: transparent !important;
}

button.blank {
	background: none !important;
	border: none !important;
}

@media print {
	.tcChat .customerId,
	span.customerId,
	.tcChat .systemStatMsg,
	span.systemStatMsg,
	tcChat .agentId,
	span.agentId {
		position: static;
		display: block;
		line-height: 20px;
		border: none;
	}
	Table {
		width: 100%;
	}
	td.tcChat_customerLine,
	td.tcChat_agentLine
	{
		max-width: none;
		border: none !important;
		border-radius: none !important;
		background: none;
	}
}

.agentMsgTime {
  display: none;
}

.customerMsgTime {
  display: none;
}

.msgDate {
  display: none;
}

